@model SurveyApplication.Models.SurveyModel

@{
    ViewBag.Title = "Work Life Balance - Questionnaire";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal">
        <hr />
        <table style="border:1px solid green">
            <tr>
                <td colspan="3" style="width:100%;border:1px solid green; background-color:lightcoral;text-align:center">
                    <h3>Work Life Balance - Questionnaire</h3>
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green">
                    @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td style="width:60%;border:1px solid green">
                    @Html.Label(Model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.HiddenFor(x => x.EmployeeId)
                </td>
                <td style="width:20%;border:1px solid green" rowspan="4">
                    Abreviations used.  Please select the one which you consider appropriate one.
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green">
                    @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td style="width:60%;border:1px solid green">
                    @Html.Label(Model.EmployeeName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.HiddenFor(x => x.Firstname)
                    @Html.HiddenFor(x => x.Lastname)
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green">
                    @Html.LabelFor(model => model.DeptName, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td style="width:60%;border:1px solid green">
                    @Html.Label(Model.DeptName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.HiddenFor(x => x.DeptCode)
                    @Html.HiddenFor(x => x.DeptName)
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green">
                    @Html.LabelFor(model => model.Division, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td style="width:60%;border:1px solid green">
                    @Html.Label(Model.Division, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.HiddenFor(x => x.Division)
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green">
                    @Html.LabelFor(model => model.DesigName, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td style="width:60%;border:1px solid green">
                    @Html.Label(Model.DesigName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.HiddenFor(x => x.DesigCode)
                    @Html.HiddenFor(x => x.DesigName)
                </td>
                <td style="width:20%;border:1px solid green; background-color:lightcoral">
                    <label>SDA-Strongly Disagree</label>
                </td>
            </tr>
            <tr>
                <td colspan="2" rowspan="4" style="width:80%;border:1px solid green; padding:10px;">
                    <span>
                        <b>Instructions: </b> Please read each statement and indicate your response as far as possible. There is no right or wrong answers.<br />
                        The result will be kept confidential and used for attaining high level of employee engagement score.
                    </span>
                </td>
                <td style="width:20%;border:1px solid green; background-color:lightcoral">
                    <label>DA-Disagree</label>
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green; background-color:lightcoral">
                    <label>UD-Undecided</label>
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green; background-color:lightcoral">
                    <label>A-Agree</label>
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green; background-color:lightcoral">
                    <label>SA-Strongly Agree</label>
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green; background-color:brown;color:white">#</td>
                <td style="width:60%;border:1px solid green; background-color:brown;color:white">Statement</td>
                <td style="width:20%;border:1px solid green; background-color:brown;color:white">Select</td>
            </tr>
            @for (var i = 0; i < Model.SurveyQuestions.Count(); i++)
            {
                <tr>
                    <td style="width:20%;border:1px solid green;">
                        @Html.HiddenFor(x => Model.SurveyQuestions[i].Id)
                        @Html.HiddenFor(x => Model.SurveyQuestions[i].Score)
                        @Html.Label(Model.SurveyQuestions[i].Id.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td style="width:60%;border:1px solid green;">
                        @Html.Label(Model.SurveyQuestions[i].Question, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.HiddenFor(x => Model.SurveyQuestions[i].Question)

                    </td>
                    <td style="width:20%;border:1px solid green;">
                        @Html.HiddenFor(x => Model.SurveyQuestions[i].SelectedOptionId)
                        @Html.DropDownListFor(x => Model.SurveyQuestions[i].SelectedOptionName, Model.OptionList, "-Select Option-", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => Model.SurveyQuestions[i].SelectedOptionName, "", new { @class = "text-danger" })
                    </td>
                </tr>

            }
            <tr>
                <td style="width:20%;padding:12px">
                    <label>Any Suggestions</label>
                </td>
                <td colspan="2" style="width:80%">
                    @Html.TextAreaFor(x => x.Suggetions, htmlAttributes: new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
        <br />
        <div class="form-group pull-right">
            <div class="col-md-offset-2 col-md-10 pull-right">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
