@model SurveyApplication.Models.SurveyModel

@{
    ViewBag.Title = "Work Life Balance - Questionnaire";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <table style="border:1px solid green">
            <tr>
                <td style="width:20%;border:1px solid green">
                    @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td style="width:60%;border:1px solid green">
                    @Html.Label(Model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td style="width:20%;border:1px solid green" rowspan="4">
                    Abreviations used.  Please select the one which you consider appropriate one.
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green">
                    @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td style="width:60%;border:1px solid green">
                    @Html.Label(Model.EmployeeName, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green">
                    @Html.LabelFor(model => model.DeptName, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td style="width:60%;border:1px solid green">
                    @Html.Label(Model.DeptName, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green">
                    @Html.LabelFor(model => model.Division, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td style="width:60%;border:1px solid green">
                    @Html.Label(Model.Division, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green">
                    @Html.LabelFor(model => model.DesigName, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td style="width:60%;border:1px solid green">
                    @Html.Label(Model.DesigName, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td style="width:20%;border:1px solid green; background-color:lightcoral">
                    <label>SDA-Strongly Disagree</label>
                </td>
            </tr>
            <tr>
                <td colspan="2" rowspan="4" style="width:80%;border:1px solid green;">
                    <span>
                        <b>Instructions: </b> Please read each statement and indicate your response as far as possible. There is no right or wrong answers.<br />
                        The result will be kept confidential and used for attaining high level of employee engagement score.
                    </span>
                </td>
                <td style="width:20%;border:1px solid green; background-color:lightcoral">
                    <label>DA-Disagree</label>
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green; background-color:lightcoral">
                    <label>UD-Undecided</label>
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green; background-color:lightcoral">
                    <label>A-Agree</label>
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green; background-color:lightcoral">
                    <label>SA-Strongly Agree</label>
                </td>
            </tr>
            <tr>
                <td colspan="3"> 
                  
                </td>
            </tr>
            <tr>
                <td style="width:20%;border:1px solid green; background-color:brown;color:white">#</td>
                <td style="width:60%;border:1px solid green; background-color:brown;color:white">Statement</td>
                <td style="width:20%;border:1px solid green; background-color:brown;color:white">Select</td>
            </tr>
            @foreach (var question in Model.SurveyQuestions)
            {
                <tr>
                    <td style="width:20%;border:1px solid green;">
                        @Html.Label(question.DisplayOrder.HasValue ? question.DisplayOrder.Value.ToString() : "", htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td style="width:60%;border:1px solid green;">
                        @Html.Label(question.Question, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td style="width:20%;border:1px solid green;">
                        @Html.DropDownList("SelectedOptionName", Model.OptionList,"-Select Option-", htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                </tr>
            }
        </table>
        <br />
        <div class="form-group pull-right">
            <div class="col-md-offset-2 col-md-10 pull-right">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
